name: test

on:
  push:
    branches: ["**"]

jobs:
  test-user-service:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/user-service
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run tests
        run: ./gradlew test

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results-user-service
          path: backend/user-service/build/reports/tests/
